/* <reset style>======================================================================================================================================================================================================== */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	/* for smooth animation */
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

button {
	background-color: inherit;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	color: inherit;
	line-height: initial;
	background-color: transparent;
	text-decoration: none;
}

a:hover,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

header,
nav,
main,
section,
article,
aside,
footer {
	display: block;
}

input::-ms-clear {
	display: none;
}

/* <>======================================================================================================================================================================================================== */


/* end */